# Tiempo de expiración del almacenamiento local del listado de podcasts (en milisegundos)
VITE_PODCASTS_TTL_MS=0

# Tiempo de expiración del almacenamiento local del detalle de cada podcast (en milisegundos)
VITE_EPISODES_TTL_MS=0

# Valores por defecto:
# VITE_PODCASTS_TTL_MS=86400000 # 1 día
# VITE_EPISODES_TTL_MS=86400000 # 1 día
